@font-face {
    font-family: 'DotMatrix-TwoExtended';
    src: url('./src/fonts/DotMatrix-TwoExtended.ttf')  
         format('truetype');
}

head, body {
    font-family: 'Domine', serif;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-top: 100px;
    /* padding-bottom: 200%; */
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    background-color: rgb(24, 24, 24);
    z-index: 10;
}

@keyframes bobing {
    0%, 100% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-4px);
    }
}

@keyframes yeet {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-5000px);
    }

    100% {
        display: none;
    }
}

.nav-item {
    color: rgba(255, 255, 255, 0.959);
    padding-left: 4vw;
    padding-right: 4vw;
    font-weight: 600;
    font-size: 12pt;
}

.nav-logo {
    width: 40px;
    height: 40px;
}

.wrapper {
    width: 100%;
    height: 500px;
    display: block;
}

.widgets {
    width: 600px;
    height: 600px;    
    text-align: center;
    margin: auto;
    display: block;
}

.link {
    margin: auto;
    display: block;
}

.icon {
    color: rgb(255, 255, 255);
    margin-top: 60px;
    font-size: 60pt;
    display: block;
}

.wrapper > .widgets > .twitter {
    width: 33.3%;
    height: 33.3%;
    background-color: #00b7ff;
    display: inline-block;
    margin-left: -4px;
}

.wrapper > .widgets > .instagram {
    width: 33.3%;
    height: 33.3%;
    background-color: #d6047f;
    display: inline-block;
    margin-left: -5px;
}

.wrapper > .widgets > .reddit {
    width: 33.3%;
    height: 33.3%;
    background-color: #f5680a;
    display: inline-block;
    margin-left: -5px;
}

.wrapper > .widgets > .facebook {
    width: 33.3%;
    height: 33.3%;
    background-color: #0a49f5;
    display: inline-block;
    margin-left: -5px;
}

.wrapper > .widgets > .github {
    width: 33.3%;
    height: 33.3%;
    background-color: #424242;
    display: inline-block;
    margin-left: -5px;
}

.wrapper > .widgets > .youtube {
    width: 33.3%;
    height: 33.3%;
    background-color: #d30225;
    display: inline-block;
    margin-left: -5px;
}

.wrapper > .widgets > .linkedin {
    width: 33.3%;
    height: 33.3%;
    background-color: #0221d3;
    display: inline-block;
    margin-left: -5px;
}


.wrapper > .widgets > .medium {
    width: 33.3%;
    height: 33.3%;
    background-color: #29292a;
    display: inline-block;
    margin-left: -5px;
}


.wrapper > .widgets > .google {
    width: 33.3%;
    height: 33.3%;
    background-color: #02b302;
    display: inline-block;
    margin-left: -5px;
}


.wrapper > .widgets > .snapchat {
    width: 33.3%;
    height: 33.3%;
    background-color: rgb(246, 210, 5);
    display: inline-block;
    margin-left: -5px;
}


.wrapper > .widgets > .zoom:hover {
    box-shadow: inset -1px 0 4px 4px rgba(77, 77, 77, 0.281);
    z-index: 9;
}

.wrapper > .widgets > .zoom:active {
    box-shadow: inset -1px 0 6px 6px rgba(0, 0, 0, 0.294);
    z-index: 9;
}
